*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

body{
    padding: min(50px, 7%);
    background-color: gray;
}

h1{
    margin: 303px;
}

.card{
    padding: 2em;
    border: 1px solid #7C3CA2;
    border-radius: 10px;
    background-color: #3E627F;
    text-align: center;
}